
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/workspace.xml


# Gradle
.idea/**/gradle.xml
.idea/**/libraries



# File-based project format
*.iws

# IntelliJ
out/

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

